<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ArticlesHeadlines.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>86877EE12B200A0F008A190A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86877EFA2B200A12008A190A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86877F042B200A12008A190A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
